.update-car-title {
    text-align: center;
    margin-bottom: 20px;
}

.update-car-container {
    max-width: 600px;
    margin: 0 auto;
}

.update-car-input-section {
    margin-bottom: 20px;
}

.update-car-input-section label {
    display: block;
    font-weight: bold;
}

.update-car-input-section input[type="number"],
.update-car-input-section input[type="text"],
.update-car-input-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.update-car-validator {
    color: red;
    margin-top: 5px;
}

.update-car-submit-button-disable,
.update-car-submit-button-active,
.update-car-cancel-button-active {
    display: block;

    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    margin: 8px 8px;

}

.update-car-submit-button-disable {
    background-color: #ccc;
}

.update-car-submit-button-active {
    background-color: #007bff;
}

.update-car-submit-button-active:hover {
    background-color: #0056b3;
}

.update-car-cancel-button-active {
    background-color: #8a8787;
}

.update-car-cancel-button-active:hover {
    background-color: #cfc9c9;
}
