.create-car-form-container {
    display: flex;
    flex-direction: column;
}

.create-car-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 800px;

}

.center-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    height: 100vh;
}


.create-form-left,
.create-form-right {
    width: 45%;
    min-width: 200px;
}

.create-car-input-section {
    margin-bottom: 15px;
}

.create-car-input-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    /* Make labels bold */
}

.create-car-input-section input,
.create-car-input-section textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    /* Increase font size for better readability */
}

.create-car-validator {
    color: red;
    margin-top: 5px;
    font-size: 14px;
}

.create-car-submit-button-disable,
.create-car-submit-button-active,
.create-car-submit-button-cancel {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin: 7px;
}

.create-car-submit-button-disable {
    background-color: #ccc;
    color: #666;
    opacity: 0.7;
}

.create-car-submit-button-active,
.create-car-submit-button-cancel {
    background-color: #593cfb;
    color: #fff;
}

.create-car-submit-button-disable:disabled {
    cursor: not-allowed;
}
