.car-show-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    max-width: 800px;
    /* Adjust as necessary */
    margin: auto;
}

.car-slideshow-container img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.car-details-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
    width: 100%;
}

.car-info-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.car-info-section {
    flex: 1;
    margin-right: 10px;
}

.car-info-title {
    /* Add style for title if needed */
}

.car-specs-left,
.car-description {
    flex-basis: 50%;
}

.car-description {
    flex-basis: 50%;
    padding-left: 20px;
}

.all-reviews-container {
    width: 100%;
    margin-top: 20px;
}

.all-reviews-container p {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.all-reviews-container button {
    padding: 8px 16px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: auto;
}

.delete-review-button {
    background-color: #ed7d7d;
    color: white;
}

.delete-review-button:hover {
    background-color: #ff3333;
}

.update-review-button {
    background-color: #3c7bd4;
    color: white;
}

.update-review-button:hover {
    background-color: #0c678e;
}

.all-reviews-container>button {
    background-color: #007bff;
    color: white;
    margin-top: 10px;
}

.all-reviews-container>button:hover {
    background-color: #0056b3;
}

.back-button {
    margin-top: 20px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.back-button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .car-info-main {
        flex-direction: column;
    }

    .car-specs-left,
    .car-description {
        flex-basis: 100%;
        padding: 0;
    }

    .car-description {
        padding-top: 20px;
    }
}
