.manage-your-car-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

.manage-your-car-h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #333;
    font-weight: 600;
}


.cars-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}


.car-item-card-navlink {
    text-decoration: none;
    color: inherit;
    margin: 1rem;
}

.car-item-card-navlink:hover .car-card-container {
    transform: translateY(-0.25rem);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-card-container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.create-car-button,
.update-car-button,
.delete-car-button {
    font-weight: 500;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 0.25rem;
    padding: 0.75rem 1.5rem;
    margin: 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;

}

.create-car-button {
    background-color: #5cb85c;
}

.create-car-button:hover {
    background-color: #4cae4c;
}

.update-car-button {
    background-color: #f0ad4e;
}

.update-car-button:hover {
    background-color: #ec971f;
}

.delete-car-button {
    background-color: #d9534f;
}

.delete-car-button:hover {
    background-color: #c9302c;
}


.create-car-link,
.update-car-link {
    color: inherit;
    text-decoration: none;
    display: block;
}
