.delete-car-modal-container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 400px;
    margin: 0 auto;
}

.delete-car-modal-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.delete-car-modal-container p {
    margin-bottom: 20px;
}

.delete-car-yes-button,
.delete-car-no-button {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.delete-car-yes-button {
    background-color: #ec7682;
    color: #fff;
}

.delete-car-no-button {
    background-color: #80bbfa;
    color: #fff;
}


.delete-car-no-button:hover {
    background-color: #2c69eb;
}

.delete-car-yes-button:hover {
    background-color: #f23c3c;
}
