.car-info-div {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 170px;
    width: 430px;
    /* padding: 5px 5px 5px 5px; */
}

.car-list-container {
    display: flex;
    border: 1px solid var(--light-border);
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-right: 1.25rem;
    width: 700px;
}

.car-list-container :hover {
    background-color: rgba(203, 203, 203, 0.461);
}
