.car-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 200px;
    text-align: center;
}

.car-card-container img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.car-info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.car-info-div p {
    margin: 5px 0;
}

.car-info-div p:first-child {
    font-weight: bold;
    font-size: 1.2em;
}

.car-info-div p:nth-child(3) {
    color: #007bff;
    font-weight: bold;
}

.car-info-div p:last-child {
    font-style: italic;
}


.cars-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}


.car-item-card-navlink {
    text-decoration: none;
    color: inherit;
}
